---
import Seating from "../../components/Seating.astro";
---

<html lang="sv" class="font-sans h-full bg-white antialiased">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>liedberg.org/brollop/</title>
        <style>
            body {
                /* font-family: Avenir, Montserrat, Corbel, "URW Gothic",
                    source-sans-pro, sans-serif;
                font-weight: normal; */
                font-family: system-ui, sans-serif;
                font-weight: normal;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <main class="flex w-full flex-col pb-20 sm:pb-32">
            <section
                class="pt-20 sm:pt-32 mx-auto max-w-7xl relative max-w-xl px-8"
            >
                <h1
                    class="text-4xl font-bold tracking-tighter sm:text-5xl mb-10"
                >
                    Ylva & Ulfs bröllopsdag
                </h1>

                <p class="mt-5">Vi gifter oss den 21:a september 2024!</p>

                <h2 class="font-bold mt-10">Viktigt</h2>
                <ul class="list-disc">
                    <li>
                        Lunchfirande: 12:30 - Ricordi, <a
                            target="_blank"
                            href="https://maps.app.goo.gl/Vhavs5ohCyXd282MA"
                            class="text-orange-700">Kungsträdgårdsgatan 18</a
                        >
                    </li>
                    <li>
                        Hemmafest: 18:00 - <a
                            target="_blank"
                            href="https://maps.app.goo.gl/FZiX814VYi8zv4z2A"
                            class="text-orange-700">Folkungagatan 94</a
                        >
                    </li>

                    <li>
                        Fotografera & <a
                            target="_blank"
                            href="https://app.kululu.com/kkrsxo"
                            class="text-orange-700">ladda upp!</a
                        >
                    </li>
                </ul>

                <h2 class="font-bold mt-10">Detaljer</h2>
                <ul class="list-disc">
                    <li>Klädsel: kavaj</li>
                    <li>
                        <a
                            target="_blank"
                            href="/brollop/platser"
                            class="text-orange-700">Bordsplacering</a
                        > lunch
                    </li>
                    <li>
                        Vi önskar ingenting annat än våra gästers närvaro, så
                        kom tomhänta, eller skänk en tanke o slant till <a
                            target="_blank"
                            href="https://insamling.bris.se/fundraisers/ylva-ulfs-brollop"
                            class="text-orange-700">BRIS 🩷</a
                        >
                    </li>
                    <li>Toastmaster: Viktor Ernholm</li>
                    <li class="list-none">
                        <ul class="list-disc mx-5">
                            <li>
                                <a
                                    href="mailto:viktor.ernholm@gmail.com"
                                    class="text-orange-700"
                                    >viktor.ernholm@gmail.com<a></a>
                                </a>
                                <li>
                                    <a
                                        href="tel:+4797837501"
                                        class="text-orange-700"
                                        >+47 978 37 501</a
                                    >
                                </li>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </main>
    </body>
</html>
