---

---

<!--
<div class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    <div>
      <span class="inline-flex items-center justify-center p-2 bg-indigo-500 rounded-md shadow-lg">
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"><!-- ... --><!--
    <h3 class="text-slate-900 dark:text-white mt-5 text-base font-medium tracking-tight">Writes Upside-Down</h3>
    <p class="text-slate-500 dark:text-slate-400 mt-2 text-sm">
      The Zero Gravity Pen can be used to write in any orientation, including upside-down. It even works in outer space.
    </p>
  </div>
   -->
<html lang="sv">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>liedberg.org/brollop/</title>
    </head>
    <body
        class="font-sans bg-white dark:bg-slate-800 text-slate-900 dark:text-white"
    >
        <main class="container mx-auto my-60">
            <h1 class="">Ylva & Ulf</h1>
            <p>Vi gifter oss!</p>
            <p>Anmäl er här:</p>
            <form class="relative">
                <fieldset class="block">
                    <label for="name">Namn</label>
                    <input type="text" id="name" name="name" />
                </fieldset>
                <fieldset class="block">
                    <label for="email">E-post</label>
                    <input type="email" id="email" name="email" />
                </fieldset>
                <button type="submit">Skicka</button>
            </form>
        </main>
    </body>
</html>

<!-- 
<style>
    html {
        color: #222;
        font-size: 1em;
        line-height: 1.4;

        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            "Noto Sans",
            Helvetica,
            Arial,
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji";
    }

    h1 {
        color: red;
    }
</style> -->
