---

---

<html lang="sv" class="font-sans h-full bg-white antialiased">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>liedberg.org/brollop-inbjudan/</title>
    </head>
    <body>
        <main class="py-3 sm:py-8">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfU5KqB-s6CsMk1uqcNu4Mt7wHtpuWrE32ut3b-SU44VFgSYw/viewform?embedded=true"
                width="640"
                height="2000"
                class="mx-auto w-screen border-0">Läser in …</iframe
            >
        </main>
    </body>
</html>
