---

---

<dl
    class="mt-10 grid grid-cols-2 gap-x-10 gap-y-6 sm:mt-16 sm:gap-x-16 sm:gap-y-10 sm:text-center lg:auto-cols-auto lg:grid-flow-col lg:grid-cols-none lg:justify-start lg:text-left"
>
    <div>
        <dt class="font-mono text-sm text-blue-600">Antal gäster</dt><dd
            class="mt-0.5 text-2xl font-semibold tracking-tight text-blue-900"
        >
            ~50
        </dd>
    </div>
    <div>
        <dt class="font-mono text-sm text-blue-600">Barn?</dt><dd
            class="mt-0.5 text-2xl font-semibold tracking-tight text-blue-900"
        >
            Hör av er
        </dd>
    </div>
    <div>
        <dt class="font-mono text-sm text-blue-600">Var?</dt><dd
            class="mt-0.5 text-2xl font-semibold tracking-tight text-blue-900"
        >
            Stockholm
        </dd>
    </div>
    <div>
        <dt class="font-mono text-sm text-blue-600">Plats</dt><dd
            class="mt-0.5 text-2xl font-semibold tracking-tight text-blue-900"
        >
            Restaurang Ricordi
        </dd>
    </div>
</dl>
