---

---

<h1 class="text-4xl font-bold tracking-tighter sm:text-5xl mb-10 mx-8">
    Bordsplacering
</h1>
<img alt="Bordskarta" class="max-w-full" src="/seating.svg" />
<div class="flex flex-row gap-10 flex-wrap px-8">
    <div>
        <h3 class="font-bold">Bord 1:</h3>
        <ul class="mb-5 list-disc">
            <li>Blenda</li>
            <li>Harry</li>
            <li>Tanja</li>
            <li>Viktor E</li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold">Bord 11:</h3>
        <ul class="mb-5 list-disc">
            <li>Ylva</li>
            <li>Uffe</li>
            <li>Lasse</li>
            <li>Agneta</li>
            <li>Rolf</li>
            <li>Aina</li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold">Bord 12:</h3>
        <ul class="mb-5 list-disc">
            <li>Inès</li>
            <li>Torfinn</li>
            <li>Jesper</li>
            <li>Micke</li>
            <li>Liv</li>
            <li>Farvash</li>
            <li>Louhan</li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold">Bord 15:</h3>
        <ul class="mb-5 list-disc">
            <li>Per</li>
            <li>Valle</li>
            <li>Sun</li>
            <li>Herdis</li>
            <li>Henrik</li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold">Bord 16:</h3>
        <ul class="mb-5 list-disc">
            <li>Erik</li>
            <li>Frida</li>
            <li>Jason</li>
            <li>Karin</li>
            <li>Ludde</li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold">Bord 17:</h3>
        <ul class="mb-5 list-disc">
            <li>Björn</li>
            <li>Helen</li>
            <li>Erna</li>
            <li>Stoffe</li>
            <li>Anna</li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold">Bord 19:</h3>
        <ul class="mb-5 list-disc">
            <li>David</li>
            <li>Ylva L</li>
            <li>Mattias</li>
            <li>Mona</li>
            <li>Jon</li>
            <li>Sofie</li>
            <li>Sten</li>
            <li>Lena</li>
            <li>Viktor P</li>
            <li>Ingalill</li>
        </ul>
    </div>
    <div>
        <h3 class="font-bold">Bord 10:</h3>
        <ul class="mb-5 list-disc">
            <li>Tomas</li>
            <li>Emelie</li>
            <li>Johan</li>
            <li>Aino</li>
            <li>Mats</li>
            <li>Camilla</li>
            <li>Christian</li>
            <li>Sixten</li>
            <li>Hedda</li>
            <li>Elio</li>
            <li>Rut</li>
            <li>Daniel</li>
            <li>Wanda</li>
            <li>Christoffer</li>
            <li>Jing</li>
        </ul>
    </div>
</div>
