---

---

<!-- class="py-20 sm:py-32 sm:pb-24 sm:pt-36" -->
<section id="intro" aria-labelledby="intro-title" class="pt-20 sm:pt-32">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="mx-auto max-w-2xl lg:max-w-4xl lg:px-12">
            <h2
                class="font-display text-4xl font-medium tracking-tighter text-blue-600 sm:text-5xl"
            >
                Schema
            </h2>
            <p class="display text-2xl tracking-tight text-blue-900">
                Här hittar ni schemat för dagen. Vi kommer att uppdatera sidan
                med mer information allt eftersom vi närmar oss den stora dagen.
            </p>
            <div
                class="relative grid grid-cols-3 gap-x-8 gap-y-8 mt-10 sm:mt-16 sm:gap-y-16 lg:mt-24"
            >
                <div
                    class="absolute bottom-0 left-0.5 top-2 hidden w-px bg-slate-200 lg:block"
                >
                </div>
                <div class="relative lg:pl-8">
                    <svg
                        aria-hidden="true"
                        viewBox="0 0 6 6"
                        class="absolute left-[-0.5px] top-[0.5625rem] hidden h-1.5 w-1.5 overflow-visible lg:block fill-transparent stroke-slate-400"
                        ><path
                            d="M3 0L6 3L3 6L0 3Z"
                            stroke-width="2"
                            stroke-linejoin="round"></path></svg
                    ><div class="relative">
                        <div class="font-mono text-sm text-slate-500">
                            <span class="absolute inset-0"></span>Vigsel
                        </div><time
                            datetime="2024-09-21T12:25"
                            class="mt-1.5 block text-2xl font-semibold tracking-tight text-blue-900"
                            >12:25</time
                        >
                    </div>
                </div>
                <div
                    class="col-span-2 display text-2xl tracking-tight text-blue-900"
                >
                    Vi kommer vigas i Stadshuset, för att senare ansluta till
                    er.
                </div>
                <div class="relative lg:pl-8">
                    <svg
                        aria-hidden="true"
                        viewBox="0 0 6 6"
                        class="absolute left-[-0.5px] top-[0.5625rem] hidden h-1.5 w-1.5 overflow-visible lg:block fill-transparent stroke-slate-400"
                        ><path
                            d="M3 0L6 3L3 6L0 3Z"
                            stroke-width="2"
                            stroke-linejoin="round"></path></svg
                    ><div class="relative">
                        <div class="font-mono text-sm text-slate-500">
                            <span class="absolute inset-0"></span>Mingel/Lunch
                        </div><time
                            datetime="2024-09-21T12:25"
                            class="mt-1.5 block text-2xl font-semibold tracking-tight text-blue-900"
                            >12:30</time
                        >
                    </div>
                </div>
                <div
                    class="col-span-2 display text-2xl tracking-tight text-blue-900"
                >
                    Ni värmer upp utan oss på restaurang Ricordi. Och vi
                    ansluter efterhand! Efter mingel, en härlig långlunch!
                </div>
                <div class="relative lg:pl-8">
                    <svg
                        aria-hidden="true"
                        viewBox="0 0 6 6"
                        class="absolute left-[-0.5px] top-[0.5625rem] hidden h-1.5 w-1.5 overflow-visible lg:block fill-transparent stroke-slate-400"
                        ><path
                            d="M3 0L6 3L3 6L0 3Z"
                            stroke-width="2"
                            stroke-linejoin="round"></path></svg
                    ><div class="relative">
                        <div class="font-mono text-sm text-slate-500">
                            <span class="absolute inset-0"></span>Hemmafest
                        </div><time
                            datetime="2024-09-21T12:25"
                            class="mt-1.5 block text-2xl font-semibold tracking-tight text-blue-900"
                            >~16</time
                        >
                    </div>
                </div>
                <div
                    class="col-span-2 display text-2xl tracking-tight text-blue-900"
                >
                    För de som vill fortsätta fira med oss kör vi vidare med
                    hemmafest efter lunchen!
                </div>
            </div>
        </div>
    </div>
</section>
