---

---

<html lang="sv" class="font-sans h-full bg-white antialiased">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>liedberg.org/brollop/</title>
        <style>
            body {
                /* font-family: Avenir, Montserrat, Corbel, "URW Gothic",
                    source-sans-pro, sans-serif;
                font-weight: normal; */
                font-family: system-ui, sans-serif;
                font-weight: normal;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <main class="flex w-full flex-col pb-20 sm:pb-32">
            <section
                class="pt-20 sm:pt-32 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative max-w-xl"
            >
                <h1
                    class="text-4xl font-bold tracking-tighter sm:text-5xl mb-10"
                >
                    Ylva & Ulfs bröllopsdag
                </h1>

                <p class="mt-5">Vi gifter oss den 21:a september 2024!</p>

                <h2 class="text-2xl tracking-tighter sm:text-3xl mt-10">
                    Att komma ihåg
                </h2>

                <ul class="list-disc mt-5">
                    <li>
                        Lunchfirande: 12:30 - Ricordi, <a
                            target="_blank"
                            href="https://maps.app.goo.gl/Vhavs5ohCyXd282MA"
                            class="text-orange-700">Kungsträdgårdsgatan 18</a
                        >
                    </li>
                    <li>
                        Hemmafest: 18:00 - <a
                            target="_blank"
                            href="https://maps.app.goo.gl/FZiX814VYi8zv4z2A"
                            class="text-orange-700">Folkungagatan 94</a
                        >
                    </li>
                    <li>
                        Ni är våra bröllopsfotografer: <a
                            target="_blank"
                            href="https://app.kululu.com/kkrsxo"
                            class="text-orange-700">fota & ladda upp</a
                        >
                    </li>
                </ul>

                <h2 class="text-2xl tracking-tighter sm:text-3xl mt-10">
                    Bordsplacering lunch
                </h2>
                <img alt="Bordskarta" class="max-w-full" src="/seating.svg" />
                <div class="flex flex-row gap-10 flex-wrap">
                    <div>
                        <h3 class="font-bold">Bord 1:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="font-bold">Bord 10:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">Bord 11:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">Bord 12:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">Bord 15:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">Bord 16:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">Bord 17:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Bord 19:</h3>
                        <ul class="mb-5 list-disc">
                            <li>Rättlångtnamn</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
